/* Technology Page Specific Styles */
.tech-hero {
  background-color: #e0f2ff;
  text-align: center;
  padding: 7rem 1rem;
  color: #003366;
}

.tech-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.tech-hero p {
  font-size: 1.1rem;
  color: #555;
}

.tech-posts {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.post-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.post-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.post-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  /* object-fit: scale-down; */
}

.post-card h2 {
  font-size: 1.2rem;
  margin: 1rem;
  color: #003366;
  text-align: center;
}

.post-card p {
  font-size: 0.95rem;
  margin: 0 1rem 1rem;
  color: #555;
  text-align: center;
}

@media (max-width: 768px) {

  .post-card img {
  width: 100%;
  height: 220px;
  object-fit: fill;
}
}

@media (min-width: 935px) and (max-width: 1030px) {
  .post-card img {
    height: auto;          /* let image keep its ratio */
    max-height: 220px;     /* prevent it from getting too tall */
    object-fit: contain;   /* no cropping */
  }
}